<nav>
	{{!--
	{{#each pages}}
		<a class="item{{#if isActive}} active{{/if}}" href="/{{name}}">{{{l10n pageTitleKey}}}</a>
	{{/each}}
	--}}
	<div class="vertically fitted borderless item">
		<iframe src="http://ghbtns.com/github-btn.html?user=catberry&repo=catberry&type=watch&count=true"
				allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	</div>
</nav>