<!DOCTYPE html>
<html lang="{{locale}}">
<head cat-store="Pages"
	  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
</head>
<body>
	<cat-header id="document-header"></cat-header>
	<cat-pages id="document-pages" cat-store="Pages"></cat-pages>
	<cat-footer id="document-footer"></cat-footer>
	<cat-ga id="analytics-tracking-code"></cat-ga>
</body>
</html>
