<footer>
	<div class="ui vertical inverted orange footer segment">
		<div class="ui stackable grid">
			<div class="one wide column"></div>
			<div class="fourteen wide right aligned column">
				<div class="borderless title item">
					{{{copyrightText}}}
				</div>
			</div>
			<div class="one wide column"></div>
		</div>
	</div>
</footer>
