@font-face {
  font-family: 'PT Sans';
  src: url('/public/lib/pt-sans/PTS75F_W.eot');
  src: url('/public/lib/pt-sans/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('/public/lib/pt-sans/PTS75F_W.woff') format('woff'), url('/public/lib/pt-sans/PTS75F_W.ttf') format('truetype'), url('/public/lib/pt-sans/PTS75F_W.svg#icon') format('svg');
  font-weight: bold;
  font-style: normal;
}
body {
  min-width: 920px;
  height: 100%;
  background: #ffffff;
  font: 1em 'PT Sans', 'Arial', sans-serif;
  color: #292f33;
}
header {
	height: 50px;
}
header div.title.item {
  font-weight: bold;
  font: 1em 'PT Sans', 'Arial', sans-serif;
  color: #292f33;
}
section.catberry.section {
  min-height: 100%;
}
section.catberry.padded.section {
  padding: 80px 40px;
}
section.catberry.main.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
div.ui.placeholder.segment {
  min-height: 300px;
  padding: 0;
}
section.markdown code {
  padding: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
section.markdown table th,
section.markdown table td {
  padding: 6px 13px;
  border: 1px solid #5c6166;
}
section.markdown h1 a,
section.markdown p > a > img {
  display: none;
}
a {
  color: #0096d3;
  text-decoration: none;
}
a:visited {
  color: #0096d3;
}
a:active,
a:hover {
  color: #20bfff;
}
