body {
  min-width: 920px;
  height: 100%;
  background: #ffffff;
  color: #292f33;
}
a, a:visited {
	color: #ff6601;
}
a:active,
a:hover {
	color: #ff8534;
}

header {
	height: 50px;
}
header iframe.stars {
	display: inline-block;
	margin-top: 8px;
	margin-left: 20px;
}

footer {
	margin-top: 40px;
}
footer a, footer a:visited, footer a:hover {
	color: white;
}

header div.title.item {
  font-weight: bold;
  color: #292f33;
}

section.catberry.section {
  min-height: 100%;
}
section.catberry.padded.section {
  padding: 40px 40px;
}

div.ui.placeholder.segment {
  min-height: 300px;
  padding: 0;
}
div.borderless.non-padded.item {
  padding: 0;
}

section.markdown code {
  padding: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
section.markdown table th,
section.markdown table td {
  padding: 6px 13px;
  border: 1px solid rgb(41, 47, 51);
}

section.doc {
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  font-size: 1.2em;
}