<header>
	<div class="ui fixed inverted orange menu">
		<div class="borderless item"></div>
		<div class="borderless title item">
			<a 	href="/">{{{l10n "TITLE"}}}</a>
		</div>
		<div class="right menu">
			<cat-section-navigation id="header-section-navigation" cat-store="Pages">

			</cat-section-navigation>
		</div>
		<div class="borderless item"></div>
	</div>
</header>
