<header>
	<div class="ui fixed inverted orange menu">
		<div class="borderless item"></div>
		<div class="borderless title item">
			<a 	href="/">{{{l10n "TITLE"}}}</a>
		</div>
		<div class="borderless non-padded item">
			<a href="https://twitter.com/catberryjs" target="_blank" title="Twitter">
				<i class="twitter big white icon"></i>
			</a>
		</div>
		<div class="borderless non-padded item">
			<a href="https://github.com/catberry/catberry" target="_blank" title="Github Repository">
				<i class="github big white icon"></i>
			</a>
		</div>
		<div class="borderless non-padded item">
			<a href="https://gratipay.com/Catberry" target="_blank" title="Support us on Gratipay">
				<i class="gittip big white icon"></i>
			</a>
		</div>
		<div class="right menu">
			<cat-section-navigation id="header-section-navigation" cat-store="Pages">

			</cat-section-navigation>
		</div>
		<div class="borderless item"></div>
	</div>
</header>
