<cat-section-card id="main-section-card"></cat-section-card>
<div class="ui divider"></div>
<cat-section-features id="main-section-features"></cat-section-features>
<div class="ui divider"></div>
<cat-section-quotes id="main-section-quotes" cat-store="static/Quotes"></cat-section-quotes>
