@import "../base/palette";

@COLOR_BACKGROUND: @PALETTE_COLOR_WHITE;

@COLOR_TEXT: @PALETTE_COLOR_BLACK;

@COLOR_HEADER: @PALETTE_COLOR_BLACK_2;

@COLOR_LINK: @PALETTE_COLOR_BLUE;
@COLOR_LINK_ACTIVE: @PALETTE_COLOR_BLUE_2;

@COLOR_SHADOW: @PALETTE_COLOR_GREY;